.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
vendor/

# Bundler
Gemfile.lock
bin/*
.bundle/*

# Rake
.rake_test_cache
rspec.xml

# No data bags in git
data_bags/

#intelliJ
.idea/*
*.iml
pom.xml