<?php
///////////////////////////////////////////////////////////////
// PHP script to revoke OpenVPn account
// SEE following URL mor more info:
// Distributed under GNU/GPL v2.0+
///////////////////////////////////////////////////////////////


// change .. me! - shell script name
$shellscript = "sudo /root/bin/vpn-revoke.sh";

// Make sure form is submitted by user
if(!(isset($_POST['pwdchange']))) {
 // if not display them form
 writeHead("Altisource VPN Account Revoker");
 writeForm();
 writeFoot();
}
else {
 // try to revoke account
 $callshell=true;
 // get username
 $_POST['userid'] = stripslashes(trim($_POST['userid']));

// if user skip our javascript ...
// make sure we can only revoke account if we have username
 if(empty($_POST['userid'])) {
   $callshell=false;
 }
 if ( $callshell == true ) { 
  // command to revoke account
  $cmd="$shellscript " . $_POST['userid'];
  // call command
  // $cmd - command, $output - output of $cmd, $status - useful to find if command failed or not
   exec($cmd,$output,$status); 
   if ( $status == 0 ) { // Success - account revoked
   writeHead("Account revoked");
   echo '<h3>Account Revoked</h3>Revoke <a href='. $_SERVER['PHP_SELF'] . '>next account</a>';
   writeFoot();
   }
   else { // Revoke failed 
      writeHead("Account revocation failed");
      echo '<h3>Account revocation failed</h3>';
      echo '<p>System returned following information:</p><pre>';
      print_r($output);
      echo '</pre>';
      echo '<p><em>Please contact tech-support for more info! Or try <a href='.$_SERVER['PHP_SELF'].'again</a></em></p>';
      writeFoot();
   }
 }
 else {
   writeHead("Something was wrong -- Please try again");
   echo 'Error - Please enter User ID';
   writeForm();
   writeFoot();
 }
}

// display html head
function writeHead($title) {
echo '
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title> ' .$title. '</title>
<style type="text/css" media="screen">
.passwdform {
        position: static;
        overflow: hidden;
}

.passwdleft {
        width: 25%;
        text-align: left;
        clear: both;
        float: left;
        display: inline;
        padding: 4px;
        margin: 5px 0;
}

.passwdright {
        width: 25%;
        text-align: left;
        float: left;
        display: inline;
        padding: 4px;
        margin: 5px 0;
}

.passwderror {
        border: 1px solid #ff0000;
}


.passwdsubmit {
        float: bottom;
}
</style>

</head>

<body>';

}
// display html form
function writeForm() {
echo '
<img src="/images/global.logo.png" width="273" height="92" alt="" />
<h3>Altisource Dev VPN Account Revoker:</h3>

<script>
function checkForm() {
if (document.forms.changepassword.elements[\'userid\'].value.length == 0) {
    alert(\'Please enter a value for the "User name" field\');
    return false;
}
  return true;
}
</script>

<div class="contactform">
<form action="' . $_SERVER[PHP_SELF]. '" method="post" onSubmit="return checkForm()" name="changepassword">
<div class="passwdleft"><label for="lblusername">User ID: </label></div>
<div class="passwdright"><input type="text" name="userid" id="lblusername" size="30" maxlength="50" value="" /> (required)</div>
<div class="passwdleft"><input type="submit" name="Submit" value="Revoke VPN Account" id="passwdsubmit" />
<input type="hidden" name="pwdchange" value="process" /></div>
</form>
</div>
';

}
// display footer 
function writeFoot(){
echo '</body>
</html>
';
}
?>

